@import "../utils/variables";

.button {
  color: white;
  background-color: $mainColor;
  padding: 0.3rem;
  cursor: pointer;
  transition: all ease 0.2s;
  border: none;

  &:hover {
    color: $mainColor;
    background-color: $categoriesColor;
  }

  &.category {
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: $mainColor;
    border: 1px solid $categoriesColor;

    &:hover{
      color: $mainColor;
      background-color: $categoriesColor;
    }
  }
}
