@import "../utils/variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid $mainColor;
  background-color: $mainColor;
  height: 400px;
  width: 500px;

  input, textarea {
    width: 75%;
    border-radius: 0.6rem;
    padding: 0.4rem;
    color: $mainColor;
    background-color: white;
    border: 1px solid $mainColor;
  }

  input{
    height: 3rem;
  }

  .form-button {
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.2rem;
    color: $mainColor;
    width: 80px;
    &:hover{
      border: 1px solid white;
    }
  }
}
