@import "../utils/variables";

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $mainColor;

  .cart-icon {
    height: 1.6rem;
    width: 1.6rem;
  }
}
