@import "../utils/variables";

.nuxtlink {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all .3s;
  padding: 0.2rem 0.5rem;

  &:hover {
    color: $mainColor;
    background-color: white;
    border-radius: 2px;
  }
}
