@import '../utils/variables';

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-width: 280px;
  border: 1px solid $mainColor;
  border-radius: 2px;
  background-color: white;
  padding: 15px 0;
  margin: 0 10px 20px 10px;

  h4 {
    color: $mainColor;
  }

  a{
    color: inherit;
    max-width: 16em;
    display: block;
  }

  p {
    font-weight: bold;
  }

  img {
    width: 12rem;
  }
}
