@import "../utils/variables";

.products-categories {
  position: fixed;
  top: 51px;
  right: 0;
  width: 200px;
  height: 92%;
  background-color: $categoriesColor;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $categoriesColor;
  overflow-y: scroll;
  scrollbar-width: thin;
}
