.promo {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid $categoriesColor;
  color: $mainColor;
  background-image: url('~/assets/img/promo-banner.jpg');
  background-position-x: 75%;
  background-position-y: 49%;
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: hard-light;

  h1 {
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px $categoriesColor;
  }

  h3 {
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px $categoriesColor;
  }
}
