<template>
  <form action="">
    <input
      id="name"
      type="text"
      name="name"
      placeholder="Your name"
    >
    <input
      id="email"
      type="email"
      name="email"
      placeholder="Your email"
    >
    <textarea
      id="message"
      name="message"
      rows="5"
      placeholder="Type your message here..."
    />
    <Button class="form-button">
      Send
    </Button>
  </form>
</template>
