<template>
  <header>
    <nav class="menu">
      <NuxtLink
        class="nuxtlink"
        to="/"
      >
        Home
      </NuxtLink>
      <NuxtLink
        class="nuxtlink"
        to="/cart"
      >
        Your cart
      </NuxtLink>
      <NuxtLink
        class="nuxtlink"
        to="/contact"
      >
        Contact
      </NuxtLink>
      <NuxtLink
        class="nuxtlink"
        to="/login"
      >
        Login
      </NuxtLink>
    </nav>
  </header>
</template>
