<template>
  <div class="products-categories">
    <button
      v-for="category in categories"
      :key="category.name"
      class="category button"
      @click="fetch(category.name)"
    >
      {{ category.name }}
    </button>
  </div>
</template>
<script>
export default {
  data() {
    return {
      categories: {
        python:{
          name: 'Python',
          api: 'python'
        },
        ruby:{
          name: 'Ruby',
          api: 'ruby'
        },
        javascript:{
          name: 'Javascript',
          api: 'javascript'
        },
        android:{
          name: 'Android',
          api: 'android'
        },
        ios:{
          name: 'iOS',
          api: 'ios'
        },
        google:{
          name: 'Google',
          api: 'google'
        },
        amazon:{
          name: 'Amazon',
          api: 'amazon'
        },
        csharp:{
          name: 'C#',
          api: 'csharp'
        },
        golang:{
          name: 'Golang',
          api: 'golang'
        },
        wordpress:{
          name: 'Wordpress',
          api: 'wordpress'
        },
        php:{
          name: 'PHP',
          api: 'php'
        },
        angular:{
          name: 'AngularJS',
          api: 'angular'
        },
        sql:{
          name: 'SQL',
          api: 'sql'
        },
        rust:{
          name: 'Rust',
          api: 'rust'
        },
        kubernetes:{
          name: 'Kubernetes',
          api: 'kubernetes'
        },
        magento:{
          name: 'Magento',
          api: 'magento'
        },
        react:{
          name: 'React',
          api: 'react'
        }
      }
    }
  },methods:{
    fetch($param) {
      fetch(`https://api.itbook.store/1.0/search/`+ $param
      ).then((res) => res.json())
      .then((data) => {
        console.log(data);
      })
    }
  }
}
</script>
:to="'/category/'+category.api"
