<template>
  <div class="product">
    <img
      :src="product.image"
      :alt="product.title"
    >
    <h4>
      <NuxtLink
        :to="{name: 'product-page', params: {img:product.image , title:product.title, resume: product.url} }"
        class=""
      >
        {{ product.title }}
      </NuxtLink>
    </h4>
    <p v-if="product.price != '$0.00'">
      {{ product.price }}
    </p>
    <p v-else>
      {{ randPrice }}
    </p>
    <Button />
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      default: () => ({
      })
    }
  },data(){
    return{
      randPrice: '$' + (Math.random()*(70 - 25)+25).toFixed(2),
    }
  }
}
</script>
