<template>
  <div class="container products-section">
    <Product
      v-for="book in result.books"
      :key="book.title"
      :product="book"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      result: {},
      books: {},
      category: 'new'
    }
  }, async fetch() {
    this.result = await fetch(
      `https://api.itbook.store/1.0/`+ this.category
    ).then((res) => res.json())
  }
}
</script>
