<template>
  <div class="promo">
    <h1 class="promo-header">
      The biggest computer bookstore is here !
    </h1>
    <h3>Find the best programming guidebooks 20% cheaper than anywhere else.</h3>
  </div>
</template>

<script>
export default {

}
</script>
