html, html::-webkit-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}

.button {
  color: white;
  background-color: #FB4B4E;
  padding: 0.3rem;
  cursor: pointer;
  transition: all ease 0.2s;
  border: none;
}
.button:hover {
  color: #FB4B4E;
  background-color: #252323;
}
.button.category {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: #FB4B4E;
  border: 1px solid #252323;
}
.button.category:hover {
  color: #FB4B4E;
  background-color: #252323;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #FB4B4E;
  background-color: #FB4B4E;
  height: 400px;
  width: 500px;
}
form input, form textarea {
  width: 75%;
  border-radius: 0.6rem;
  padding: 0.4rem;
  color: #FB4B4E;
  background-color: white;
  border: 1px solid #FB4B4E;
}
form input {
  height: 3rem;
}
form .form-button {
  background-color: white;
  padding: 0.8rem;
  border-radius: 0.2rem;
  color: #FB4B4E;
  width: 80px;
}
form .form-button:hover {
  border: 1px solid white;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #FB4B4E;
}
.menu .cart-icon {
  height: 1.6rem;
  width: 1.6rem;
}

.nuxtlink {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s;
  padding: 0.2rem 0.5rem;
}
.nuxtlink:hover {
  color: #FB4B4E;
  background-color: white;
  border-radius: 2px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-width: 280px;
  border: 1px solid #FB4B4E;
  border-radius: 2px;
  background-color: white;
  padding: 15px 0;
  margin: 0 10px 20px 10px;
}
.product h4 {
  color: #FB4B4E;
}
.product a {
  color: inherit;
  max-width: 16em;
  display: block;
}
.product p {
  font-weight: bold;
}
.product img {
  width: 12rem;
}

.products-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.products-categories {
  position: fixed;
  top: 51px;
  right: 0;
  width: 200px;
  height: 92%;
  background-color: #252323;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #252323;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.promo {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #252323;
  color: #FB4B4E;
  background-image: url("~/assets/img/promo-banner.jpg");
  background-position-x: 75%;
  background-position-y: 49%;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: hard-light;
}
.promo h1 {
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px #252323;
}
.promo h3 {
  font-size: 1.4rem;
  text-shadow: 1px 1px 1px #252323;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}
.cart h1 {
  color: #FB4B4E;
  padding: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #FB4B4E;
}
.contact h1 {
  padding: 30px 0;
}
.contact p {
  padding-bottom: 10px;
}

.home {
  display: flex;
  flex-direction: row;
  padding-right: 200px;
}

@media (max-width: 550px) {
  .home {
    padding: 0;
  }

  .promo {
    height: 15rem;
  }

  .products-categories {
    display: none;
  }
}
body {
  background-color: #252323;
}

.page {
  width: 100%;
  padding-top: 50px;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
