<template>
  <ProductsSection/>
</template>

<script>
import ProductsSection from "../../components/ProductsSection";
export default {
  name: "_api",
  components: {ProductsSection}
}
</script>

<style scoped>

</style>
