<template>
  <div class="page contact">
    <h1>
      Log in and continue your shopping !
    </h1>
    <form action="">
      <input
        id="email"
        type="email"
        name="email"
        placeholder="Your email"
        required
      >
      <input
        id="name"
        type="password"
        name="name"
        placeholder="Your name"
        required
      >
      <Button class="form-button">
        Log in
      </Button>
    </form>
  </div>
</template>

<script>
export default {}
</script>
