<template>
  <div class="page product">
    <h1>
      {{ $route.params.title }}
    </h1>
    <img
      :src="
        $route.params.img
      "
    >
    <p>Prix de l'article</p>
    <Button />
  </div>
</template>

<script>
export default {
  mounted() {
    console.log(this.$route.params);
  }
}
</script>
