@import "../utils/variables";

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;

  h1{
    color: $mainColor;
    padding: 2rem;
  }
}
