@import "../utils/variables";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  color: $mainColor;
  
  h1 {
    padding: 30px 0;
  }

  p{
    padding-bottom: 10px;
  }
}
