@import "../utils/variables";

.home{
  display: flex;
  flex-direction: row;
  padding-right: 200px;
}

@media (max-width: 550px) {
  .home {
    padding: 0;
  }

  .promo {
    height: 15rem;
  }

  .products-categories {
    display: none;
  }
}
